.Carta {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    background-color: #fff;
  }
  
  .imagenCartas {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
  
  .tituloCartas {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .descripcionCartas {
    font-size: 14px;
    color: #555;
  }
  